github "Alamofire/Alamofire" # ~> 4.8
github "Alamofire/AlamofireImage"

github "ReactiveX/RxSwift" # ~> 4.5
github "RxSwiftCommunity/Action" # ~> 3.11

github "Moya/Moya" "12.0.1"

github "quickbirdstudios/XCoordinator"

github "mac-cain13/R.swift.Library"

github "Quick/Quick"
github "Quick/Nimble"
github "RxSwiftCommunity/RxNimble"
